In [5]:
import analysis.plot as ap
import pandas as pd
import numpy as np
import scipy.stats as st

In [40]:
df = pd.read_csv("data/X_train_J01Z4CN.csv", index_col="id_annonce")
dfy = pd.read_csv("data/y_train_OXxrJt1.csv", index_col="id_annonce")
df['price']=dfy

In [41]:
df.tail(10)

,property_type,approximate_latitude,approximate_longitude,city,postal_code,size,floor,land_size,energy_performance_value,energy_performance_category,...,nb_boxes,nb_photos,has_a_balcony,nb_terraces,has_a_cellar,has_a_garage,has_air_conditioning,last_floor,upper_floors,price
id_annonce,,,,,,,,,,,,,,,,,,,,,
36003487,appartement,47.879069,1.834929,la-chapelle-saint-mesmin,45380,7432.0,NaN,NaN,199.0,D,...,0.0,9.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,187000.0
35781853,appartement,44.879393,-0.523138,lormont,33310,70.0,2.0,NaN,168.0,D,...,0.0,15.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,189000.0
35901495,divers,48.829988,2.349115,paris-13eme,75013,200.0,NaN,NaN,NaN,NaN,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1272000.0
35840537,terrain,45.158178,4.613149,satillieu,7290,2000.0,NaN,NaN,NaN,NaN,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,55000.0
35824079,appartement,46.259829,6.109434,ferney-voltaire,1210,95.0,NaN,NaN,259.0,E,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,420000.0
35881571,appartement,43.480292,-1.484324,bayonne,64100,2995.0,NaN,NaN,255.0,E,...,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,190000.0
35890109,appartement,48.861391,2.401158,paris-20eme,75020,36.0,4.0,NaN,229.0,D,...,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,399000.0
36010245,appartement,44.397837,-1.164312,biscarrosse,40600,99.0,2.0,NaN,NaN,NaN,...,0.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,328000.0
35864579,duplex,48.864204,2.808693,magny-le-hongre,77700,9281.0,NaN,NaN,NaN,NaN,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,463000.0
35748883,maison,46.032306,1.966711,le-donzeil,23480,90.0,NaN,600.0,NaN,NaN,...,0.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,69930.0

In [8]:
def ScoreSize(df):

IndentationError: expected an indented block (3718801373.py, line 2)

In [9]:
df[['property_type','price']].groupby('property_type').agg(['mean','median','max'])

                          price
                           mean     median        max
property_type
appartement        3.723562e+05   275000.0  2299000.0
atelier            1.425000e+06  1425000.0  1550000.0
chalet             4.306361e+05   317500.0  1300000.0
chambre            1.063750e+05    99000.0   132500.0
château            1.010298e+06   900000.0  1950000.0
divers             3.108264e+05   199500.0  2265000.0
duplex             4.040481e+05   299995.0  2099000.0
ferme              3.234432e+05   271500.0  1802000.0
gîte               4.583333e+05   480000.0   630000.0
hôtel              4.910000e+05   491000.0   491000.0
hôtel particulier  7.286500e+05   728750.0  1100000.0
loft               5.065806e+05   385200.0  2050000.0
maison             3.274210e+05   254400.0  2289000.0
manoir             7.562767e+05   682000.0  2200000.0
moulin             5.167144e+05   479000.0  1011000.0
parking            6.071635e+04    39300.0   415000.0
propriété          6.730181e+05   566505.0  2210526.0
péniche            5.506125e+05   279500.0  1575000.0
terrain            1.203039e+05    67000.0  2100000.0
terrain à bâtir    1.018994e+05    65000.0  1090000.0
viager             1.733239e+05   120000.0  2131895.0
villa              5.255000e+05   435000.0  2200000.0

In [34]:
np.array(df[(df['property_type']=='duplex') & (df['size']>1000)])[0,7]

nan

In [11]:
df['property_type'].nunique()

22

In [12]:
list(df['floor'].value_counts())

[2995,
 2485,
 1808,
 1033,
 547,
 358,
 167,
 143,
 85,
 36,
 17,
 15,
 13,
 10,
 9,
 9,
 4,
 2,
 2,
 1,
 1,
 1,
 1,
 1]

In [13]:
T = df['city'].value_counts()

In [14]:
A = df[['city','price']].groupby(['city'])['price'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(20)

In [15]:
type(A)

pandas.core.frame.DataFrame

In [16]:
A.head()

             city  count
7949     toulouse    453
5127  montpellier    375
5614  paris-18eme    242
5612  paris-16eme    237
5372         nice    232

In [17]:
df_long = df[["city",'approximate_longitude']].groupby("city").agg("mean").reset_index()

In [18]:
df_lat = df[["city",'approximate_latitude']].groupby("city").agg("mean").reset_index()
df_lat['approximate_latitude']

0       47.548492
1       50.103613
2       48.348193
3       43.456313
4       49.083470
          ...
8638    47.018229
8639    46.558582
8640    49.069957
8641    47.695353
8642    41.738148
Name: approximate_latitude, Length: 8643, dtype: float64

In [19]:
df_preprocessing = pd.read_csv("data/statistic_id744823_square-meter-housing-price-in-france-2022-by-type-of-housing.csv",sep=';',usecols=[0,1,2,3])

In [20]:
df_preprocessing.dtypes

city                      object
price m2                   int64
approximate_latitude     float64
approximate_longitude    float64
dtype: object

In [21]:
# Define the mean vector (mu) and covariance matrix (cov)
mu = np.array([0, 0])
cov = np.array([[1, 0], [0, 1]])

# Create the multivariate Gaussian distribution
dist = st.multivariate_normal(mean=mu, cov=cov)

# Evaluate the density probability of a point x
x = np.array([0, 0])
prob = dist.pdf(x)

print("Density probability of the point x: ", prob)

Density probability of the point x:  0.15915494309189535

In [24]:
class Object():
    def __init__(self):
        self.df = pd.read_csv("data/statistic_id744823_square-meter-housing-price-in-france-2022-by-type-of-housing.csv",sep=';',usecols=[0,1,2,3])
        self.city = np.array(self.df)[:,0]
        self.price_m2 = np.array(self.df)[:,1]
        self.param = np.array(self.df)[:,-2:]
        
    def ComputeCoeff(self,df_pos,std):
        array_pos = np.array(df_pos)
        Coeff = np.array([st.norm.pdf(array_pos[:,0],loc=self.param[i,0],scale=std)*st.norm.pdf(array_pos[:,1],loc=self.param[i,1],scale=std) for i in range(len(self.param))]).T
        return Coeff/np.array([np.sum(Coeff,axis=1)]).T

    def ScoreCity(self,df,std=0.1):
        Coeff = self.ComputeCoeff(df[['approximate_latitude','approximate_longitude']],std)
        Score = np.sum(np.array([self.price_m2])*Coeff,axis=1)
        for idx,ci in enumerate(np.array(df['city'])):
            for ydx,cy in enumerate(self.city):
                if ci.__contains__(cy):
                    Score[idx]=self.price_m2[ydx]
        return Score

In [26]:
O = Object()
np.median(O.ScoreCity(df,0.1))

3773.999999999999

In [38]:
def ma_fonction(row, col1, col2):
    return row[col1] + row[col2]

dfA = pd.DataFrame({'col1': [1, 2, 3], 'col2': [4, 5, 6]})
dfA['result'] = dfA.apply(lambda row: ma_fonction(row, 'col1', 'col2'), axis=1)
dfA

   col1  col2  result
0     1     4       5
1     2     5       7
2     3     6       9

In [43]:
def ScoreSize(row):
    if row['property_type'] in ['appartement','chambre','divers','duplex','loft','maison']:
        if row['property_type'] == 'appartement' and row['size']>300:
            return row['size']/10
        else:
            return 9000.0

In [46]:
df['Hello']=df.apply(lambda row: ScoreSize(row), axis=1)
df

,property_type,approximate_latitude,approximate_longitude,city,postal_code,size,floor,land_size,energy_performance_value,energy_performance_category,...,nb_photos,has_a_balcony,nb_terraces,has_a_cellar,has_a_garage,has_air_conditioning,last_floor,upper_floors,price,Hello
id_annonce,,,,,,,,,,,,,,,,,,,,,
35996577,appartement,43.643880,7.117183,villeneuve-loubet,6270,63.0,NaN,NaN,NaN,NaN,...,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,355000.0,9000.0
35811033,appartement,45.695757,4.895610,venissieux,69200,90.0,3.0,NaN,223.0,D,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,190000.0,9000.0
35731841,maison,47.966791,-1.220451,moutiers,35130,61.0,NaN,370.0,NaN,NaN,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39000.0,9000.0
35886765,maison,47.289292,-1.878805,cordemais,44360,142.0,NaN,764.0,217.0,D,...,8.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,299000.0,9000.0
35781137,appartement,45.718992,4.844234,lyon-7eme,69007,88.0,3.0,NaN,NaN,NaN,...,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,478000.0,9000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35881571,appartement,43.480292,-1.484324,bayonne,64100,2995.0,NaN,NaN,255.0,E,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,190000.0,299.5
35890109,appartement,48.861391,2.401158,paris-20eme,75020,36.0,4.0,NaN,229.0,D,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,399000.0,9000.0
36010245,appartement,44.397837,-1.164312,biscarrosse,40600,99.0,2.0,NaN,NaN,NaN,...,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,328000.0,9000.0
35864579,duplex,48.864204,2.808693,magny-le-hongre,77700,9281.0,NaN,NaN,NaN,NaN,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,463000.0,9000.0
35748883,maison,46.032306,1.966711,le-donzeil,23480,90.0,NaN,600.0,NaN,NaN,...,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,69930.0,9000.0

In [30]:
np.array(df_preprocessing[['approximate_latitude','approximate_longitude']])

array([['48,86', '2,35'],
       ['45,75', '4,85'],
       ['45,77', '4,88'],
       ['47,22', '-1,55'],
       ['48,08', '-1,68'],
       ['43,60', '1,44'],
       ['43,30', '5,37'],
       ['43,61', '3,88'],
       ['43,13', '5,92'],
       ['45,19', '5,72'],
       ['48,58', '7,74'],
       ['50,64', '3,06'],
       ['44,84', '-0,58'],
       ['47,46', '-0,55'],
       ['47,32', '5,04'],
       ['43,84', '4,36'],
       ['49,49', '0,11'],
       ['45,44', '4,39'],
       ['43,60', '1,44'],
       ['43,55', '7,02'],
       ['43,53', '5,45'],
       ['48,88', '2,26'],
       ['43,59', '7,12'],
       ['42,70', '2,90'],
       ['43,44', '6,76'],
       ['43,32', '3,56'],
       ['46,16', '-1,15'],
       ['49,89', '2,30'],
       ['43,30', '-0,37'],
       ['45,78', '3,08'],
       ['45,83', '1,25'],
       ['48,39', '-4,49'],
       ['47,24', '6,02'],
       ['48,30', '4,08'],
       ['49,12', '6,18'],
       ['48,68', '6,20'],
       ['47,39', '0,68'],
       ['47,08', '2,40'],
       ['47,80', '3,57'],
       ['49,19', '-0,36'],
       ['48,84', '2,24'],
       ['48,89', '2,21'],
       ['48,94', '2,35'],
       ['48,92', '2,28'],
       ['48,95', '2,52'],
       ['48,80', '2,52'],
       ['48,89', '2,25'],
       ['48,79', '2,46'],
       ['48,93', '2,38'],
       ['49,25', '4,03']], dtype=object)

In [14]:
def ComputeCoeff()
dx = st.norm.pdf(0,loc=0,scale=1)*st.norm.pdf(0,loc=0,scale=1)
dx

0.15915494309189535

In [290]:
np.array(df_preprocessing)

array([['paris', '10 203', '10 937', 2114, '48,86', '2,35'],
       ['lyon', '5 350', '6 624', 1197, '45,75', '4,85'],
       ['villeurbanne', '3 956', '5 089', 905, '45,77', '4,88'],
       ['nantes', '3 890', '4 988', 888, '47,22', '-1,55'],
       ['rennes', '4 084', '4 893', 898, '48,08', '-1,68'],
       ['toulouse', '3 678', '4 187', 787, '43,60', '1,44'],
       ['marseille', '3 279', '4 163', 744, '43,30', '5,37'],
       ['montpellier', '3 250', '3 989', 724, '43,61', '3,88'],
       ['toulon', '2 796', '3 876', 667, '43,13', '5,92'],
       ['grenoble', '2 705', '3 444', 615, '45,19', '5,72'],
       ['strasbourg', '3 630', '3 286', 692, '48,58', '7,74'],
       ['lille', '3 530', '3 035', 657, '50,64', '3,06'],
       ['bordeaux', '4 608', '3 035', 764, '44,84', '-0,58'],
       ['angers', '2 980', '3 004', 598, '47,46', '-0,55'],
       ['dijon', '2 387', '2 918', 531, '47,32', '5,04'],
       ['nîmes', '2 055', '2 585', 464, '43,84', '4,36'],
       ['le-havre', '2 089', '2 234', 432, '49,49', '0,11'],
       ['saint-étienne', '1 215', '1 777', 299, '45,44', '4,39'],
       ['toulouse', '3 255', '3 974', 723, '43,60', '1,44'],
       ['cannes', '5 119', '5 613', 1073, '43,55', '7,02'],
       ['aix-en-provence', '4 558', '6 315', 1087, '43,53', '5,45'],
       ['neuilly-sur-seine', '11 271', '11 271', 2254, '48,88', '2,26'],
       ['antibes', '4 603', '5 865', 1047, '43,59', '7,12'],
       ['perpignan', '1 370', '1 742', 311, '42,70', '2,90'],
       ['saint-raphael', '3 989', '5 192', 918, '43,44', '6,76'],
       ["le-cap-d'agde", '3 990', '5 193', 918, '43,32', '3,56'],
       ['la-rochelle', '3 261', '4 547', 781, '46,16', '-1,15'],
       ['amiens', '1 648', '2 357', 401, '49,89', '2,30'],
       ['pau', '1 728', '2 298', 403, '43,30', '-0,37'],
       ['clermont-ferrand', '1 931', '2 282', 421, '45,78', '3,08'],
       ['limoges', '1 358', '1 618', 298, '45,83', '1,25'],
       ['brest', '1 537', '1 838', 338, '48,39', '-4,49'],
       ['besançon', '1 942', '2 503', 445, '47,24', '6,02'],
       ['troyes', '1 436', '1 742', 318, '48,30', '4,08'],
       ['metz', '2 133', '2 517', 465, '49,12', '6,18'],
       ['nancy', '2 133', '2 801', 493, '48,68', '6,20'],
       ['tours ', '2 616', '2 718', 533, '47,39', '0,68'],
       ['bourges ', '1 370', '1 446', 282, '47,08', '2,40'],
       ['auxerre', '1 362', '1 402', 276, '47,80', '3,57'],
       ['caen', '2 391', '2 924', 532, '49,19', '-0,36'],
       ['boulogne-billancourt', '11 316', '11 316', 2263, '48,84',
        '2,24'],
       ['nanterre', '5 501', '6 466', 1197, '48,89', '2,21'],
       ['saint-denis', '1 497', '1 553', 305, '48,94', '2,35'],
       ['asnières-sur-seine', '6 893', '9 647', 1654, '48,92', '2,28'],
       ['aulnay-sous-bois', '3 222', '3 055', 628, '48,95', '2,52'],
       ['champigny-sur-marne', '3 592', '3 878', 747, '48,80', '2,52'],
       ['courbevoie', '7 611', '7 611', 1522, '48,89', '2,25'],
       ['créteil', '3 839', '4 306', 815, '48,79', '2,46'],
       ['la courneuve', '2 779', '2 779', 556, '48,93', '2,38'],
       ['reims', '2 550', '2 615', 517, '49,25', '4,03']], dtype=object)

TypeError: <lambda>() missing 1 required positional argument: 'y'